
.poke-card {
    background: #f2bf5f;
    border: 1px solid #dd2476;
    color: rgba(250, 250, 250, 0.8);
    margin-bottom: 2rem;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    text-transform: capitalize;
    height: 24rem;
  }

.poke-card img{
    width: 140px;
}

.profile-card{
    margin-right: auto;
    margin-left: auto;
}

.col-md-5{
    max-width: 30.0%;
}

.card-body{
   padding: 1rem !important;
}

.card-title{
    text-transform: uppercase !important;
    color: #fff7f7;
    font-weight: 600;
    text-shadow: #776d68 1px 1px 1px;
}

.row{
   display: flex;
   margin: 0;
}


.profile-board{
    display: flex;
    margin-top: 50px;
}

.starter-container{
    justify-content: space-around;
}


th{
    font-size: 13px !important;
    text-align: none !important;
    background-color: #C63F8B !important;
    border-top: none !important;
    border-bottom: 1px solid #EC2626 !important;
    color: #ffcdcd !important;
    text-transform: uppercase;
}

.btn-secondary hover{
 background-color: #91578d
}

.poke-name{
   text-transform: capitalize;
   font-size: 12px;
   color: #4d4a4a
}

  .badge{
      text-transform: uppercase;
      border-style: solid;
      border-width: 0.1px;
      border-color: #8a8a8a;
  }

  .badge-sm{
      font-size: 10px;
  }

  .badge-electric{
      color: #FFF;
      background-color: #FFC107;
  }

  .badge-fire{
      color: #FFF;
      background-color: #FF5A34;
  }

  .badge-grass{
      color: #FFF;
      background-color: #28A745;
  }

  .badge-water{
      color: #FFF;
      background-color: #357EDC;
  }

  .badge-psychic{
      color: #FFF;
      background-color: #E138CF
  }

  .badge-rock{
      color: #FFF;
      background-color: #7b7875
  }

  .badge-ground{
     color: #FFF;
     background-color: #aa7a50
  }

  .badge-poison{
      color: #FFF;
      background-color: #a024f4
  }

  .badge-dragon{
     color: #FFF;
     background-color: #26A7b5
  }

  .badge-normal{
     color: #484848;
     background-color: #E3E3E3;
  }

  .badge-ghost{
     color: #FFF;
     background-color: #66478A
  }

  .badge-ice{
     color: #FFF;
     background-color: #9BD0F7
  }

  .badge-fighting{
     color: #FFF;
     background-color: #99054B
  }

  .badge-bug{
     color: #FFF;
     background-color: #10DF27
  }

  .badge-flying{
     color: #FFF;
     background-color: #A9D3FF
  }

  .badge-steel{
     color: #FFF;
     background-color: #5A7D9B
  }

  .badge-fairy{
     color: #FFF;
     background-color: #EA94D0
  }

  .badge-dark{
     color: #FFF;
     background-color: #4E378C;
  }

  .badge-shadow{
     color: #FFF;
     background-color: #000;
  }

  .badge-unknown{
     color: #000;
     background-color: #FFF;
  }

  /*KNAPPARNA*/

.knappbattle{
   background-color: #fd7380;
   color: #f0f0f0 !important;
   vertical-align: middle !important;
   text-align: none !important;
   border-top-color: #EC2626 !important;
   margin: 0 auto;
   text-align: center;

}

.button-dashboard {
    width: -moz-available;
    height: auto;
    cursor: pointer;
    font-size: 25px;
    background: #f2bf5f;
    border: 1px solid #ec2626;
    padding: 10px 10px 10px 10px;
    transition: 500ms;
    border-bottom-width: 1;
    color: white;
    text-shadow: #000 1px 1px 1px;
  }

  .button-battle {
      width: -moz-available;
      height: auto;
      cursor: pointer;
      font-size: 25px;
      background: #f2bf5f;
      border: 1px solid #ec2626;
      padding: 10px 10px 10px 10px;
      transition: 500ms;
      border-bottom-width: 1;
      color: white;
      text-shadow: #000 1px 1px 1px;
    }

.starter-stats{
  margin-top: 1em !important;
  color: #8a8688 !important;
}