.container{
    display:flex;
    flex-wrap: wrap;
}

.w-75{
    width: 30% !important;
    padding-bottom: 30px
}

.pack {
    padding: 5em 0 4em;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
}

/*COMMON PACK*/

.common-pack .pack {
    background: linear-gradient(-45deg, #7CD581, #7cd59e, #7cd5c9, #7cd2d5);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}

.common-pack-hl{
    color: #55A875;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 700;
    font-family: sans-serif;
}

.common-pack-img{
    width: 60%;
    content:url(https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/25.png);
}

.btn-common{
    background: #70ceb4;
    color: white;
}

/*UNCOMMON PACK*/

.uncommon-pack .pack {

}

.uncommon-pack-hl{
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 700;
    font-family: sans-serif;
}

.uncommon-pack-img{
    width: 60%;
    content:url(https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/104.png);
}

.btn-uncommon{
    background: #70ceb4;
    color: white;
}

/*RARE PACK*/

.rare-pack .pack {

}

.rare-pack-hl{
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 700;
    font-family: sans-serif;
}

.rare-pack-img{
    width: 60%;
    content:url(https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/9.png);
}

.btn-rare{
    background: #70ceb4;
    color: white;
}

/*EPIC PACK*/

.epic-pack-hl{
    text-transform: uppercase;
    color: #e8579b;
    font-size: 35px;
    font-weight: 700;
    font-family: sans-serif;
}

.epic-pack-img{
    width: 60%;
    content:url(https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/151.png);
}

.btn-epic{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease-in-out infinite;
    color: white;
}

.epic-pack .pack{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 5s ease-in-out infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.pricing-divider-img {
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 80px;
}

.btn-custom  {

}

.img-float {
  width:50px; position:absolute;top:-3.5rem;right:1rem
}

.pack-item {
  transition: all 150ms ease-out;
}
.pack-item:hover {
  transform: scale(1.05);
}
.pack-item:hover .deco-layer--1 {
  -webkit-transform: translate3d(15px, 0, 0);
  transform: translate3d(15px, 0, 0);
}
.pack-item:hover .deco-layer--2 {
  -webkit-transform: translate3d(-15px, 0, 0);
  transform: translate3d(-15px, 0, 0);
}
.deco-layer {
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.col-4{
    max-width: none !important;
}

.col-md-4{
    max-width: 19.3% !important;
}

.card-body{
    width: 100% !important;
}

.btn{
    text-transform: uppercase !important;
    font-size: 30px !important;
    font-weight: bold !important;
}

/*GRADIENT BORDER*/

.gradient-border {
  border: 4px solid transparent;
  border-image-source: linear-gradient(45deg, #1fddff, #2C7744, #F0CB35, #fc00ff);
  border-image-slice: 1;
}
.gradient {
  width: 50%;
  padding: 1rem;
  background: #d1d1d1;
  font: 1rem sans-serif;
  margin-bottom: 1rem;
}