<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<title th:replace="fragments :: title"></title>
<nav th:replace="fragments :: navigation"></nav>
<head><link rel="stylesheet" th:href="@{/css/about.css}"></head>

</body>
<div class="about-section">
    <div class="text-container">
        <p>
            <b>In this web-based Pokemon simulator game, players collect new Pokemon through various methods. <br> Players can create their own team and compete against other users, striving to improve their lineup and climb the ranks.</b>
        </p>
    </div>
</div>

<div class="row about">
    <div class="column">
        <div class="card">
            <img src="/images/about/Squirtle.webp" alt=""  class="img size">
            <div class="container">
                <h2>Rasmus S</h2>
                <p class="title">Battlar helst med: <b> Squirtle</b> </p>
                <p>Rasmus@pokemon.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/images/about/mrMime.png" alt=""  class="img size">
            <div class="container">
                <h2>Tony J</h2>
                <p class="title">Battlar helst med: <b>Mr Mime</b> </p>
                <p>Tony@pokemon.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/images/about/gåtillprofil.jpg" alt=""  class="img size">
            <div class="container">
                <h2>Mia H</h2>
                <p class="title">Battlar helst med: <b>Charmander</b> </p>
                <p>Mia@pokemon.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="/images/about/gengar.png" alt="" class="img size">
            <div class="container">
                <h2>Vytis L</h2>
                <p class="title">Battlar helst med: <b>Gengar</b> </p>
                <p>Vytis@pokemon.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="/images/about/psydock.png" alt="" class="img size">
            <div class="container">
                <h2>Rasmus C</h2>
                <p class="title">Battlar helst med: <b>Psyduck</b>  </p>
                <p>Rasmus@pokemon.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>
</body>

</html>