<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<title th:replace="fragments :: title"></title>
<nav th:replace="fragments :: navigation"></nav>
<head><link rel="stylesheet" th:href="@{/css/about.css}"></head>

</body>
<div class="about-section">
    <div class="text-container">
        <p>
            <b>In this web-based Pokemon simulator game, players collect new Pokemon through various methods. Players can create their own team and compete against other users, striving to improve their lineup and climb the ranks.</b>
        </p>
    </div>
</div>

<div class="row">
    <div class="column">
        <div class="card">
            <img src="/images/about/Squirtle.webp" alt="" style="width:100%">
            <div class="container">
                <h2>Rasmus S</h2>
                <p class="title">Battlar helst med: <b> Squirtle</b> </p>
                <p>Rasmus@pokemon.com</p>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#Rasmus S">Contact</button>
                <!-- Modal -->
                <div class="modal fade" id="Rasmus S" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel4">Contact Info</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <ul>
                                    <h3>För frågor kontakta Tony J  </h3>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>     <!-- info -->
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/images/about/mrMime.png" alt="" style="width:100%">
            <div class="container">
                <h2>Tony J</h2>
                <p class="title">Battlar helst med: <b>Mr Mime</b> </p>
                <p>Tony@pokemon.com</p>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#Tony J">Contact</button>
                <!-- Modal -->
                <div class="modal fade" id="Tony J" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel1">Contact Info</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <ul>
                                    <h3>För frågor kontakta Mia H  </h3>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>     <!-- info -->            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/images/about/gåtillprofil.jpg" alt="" style="width:100%">
            <div class="container">
                <h2>Mia H</h2>
                <p class="title">Battlar helst med: <b>Charmander</b> </p>
                <p>Mia@pokemon.com</p>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#Mia H">Contact</button>
                <!-- Modal -->
                <div class="modal fade" id="Mia H" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel2">Contact Info</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <ul>
                                    <h3>För frågor kontakta Vytis L  </h3>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>     <!-- info -->            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="/images/about/gengar.png" alt="" style="width:100%">
            <div class="container">
                <h2>Vytis L</h2>
                <p class="title">Battlar helst med: <b>Gengar</b> </p>
                <p>Vytis@pokemon.com</p>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#Vytis L">Contact</button>
                <!-- Modal -->
                <div class="modal fade" id="Vytis L" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel3">Contact Info</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <ul>
                                    <h3>För frågor kontakta Rasmus C  </h3>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>     <!-- info -->            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="/images/about/psydock.png" alt="" style="width:100%">
            <div class="container">
                <h2>Rasmus C</h2>
                <p class="title">Battlar helst med: <b>Psyduck</b>  </p>
                <p>Rasmus@pokemon.com</p>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#Rasmus C">Contact</button>
                <!-- Modal -->
                <div class="modal fade" id="Rasmus C" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel5">Contact Info</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <ul>
                                    <h3>För frågor kontakta Rasmus S  </h3>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>     <!-- info -->
            </div>
        </div>
    </div>
</div>
</body>

</html>