<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<nav th:replace="fragments :: navigation"></nav>
<link rel="stylesheet" th:href="@{/css/test2.css}">
<link rel="stylesheet" th:href="@{/css/mia.css}">

</body>
<div class="about-section">
    <h1>Pokeblitz</h1>
    <p>This game..........</p>
</div>

<div class="row">
    <div class="column">
        <div class="card">
            <img src="/images/about.jpg" alt="Jane" style="width:100%">
            <div class="container">
                <h2>Rasmus C</h2>
                <p class="title">Battlar helst med: <b>Bulbasaur</b> </p>
                <p>Rasmusockemon@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/images/about.jpg" alt="Mike" style="width:100%">
            <div class="container">
                <h2>Tony J</h2>
                <p class="title">Battlar helst med: <b>Ivysaur</b> </p>
                <p>Tonyockemon@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/images/about.jpg" alt="John" style="width:100%">
            <div class="container">
                <h2>Mia H</h2>
                <p class="title">Battlar helst med: <b>Venusaur</b> </p>
                <p>Miaockemon@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="/images/about.jpg" alt="Mike" style="width:100%">
            <div class="container">
                <h2>Vytis L</h2>
                <p class="title">Battlar helst med: <b>Charmander</b> </p>
                <p>Vytisockemon@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="/images/about.jpg" alt="Mike" style="width:100%">
            <div class="container">
                <h2>Rasmus S</h2>
                <p class="title">Battlar helst med: <b>Charmeleon</b>  </p>
                <p>Rasmusockemon@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>
</body>

</html>