<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head}"></head>
<nav th:replace="~{fragments :: navigation}"></nav>

<body>

<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img class="pokeball" src="https://w0.peakpx.com/wallpaper/103/615/HD-wallpaper-pikachu-s-pokeball-francisco-pikachu-s-pokemon-anime-clean-cute-iphone-japan-japanese-magaka-manga-minimal-nippon-pikachu-pokeball-red-yellow.jpg"/>
                                 <!--alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />-->
                        </div>

                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <!--FORM-->


                                <form th:action="@{/login}" method="POST">
                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>

                                    <div class="form-outline mb-4">
                                        <input type="text" id="username-input" name="username" class="form-control form-control-lg" />
                                        <label class="form-label" for="username-input">User name</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="password" id="password-input" name="password" class="form-control form-control-lg" />
                                        <label class="form-label" for="password-input">Password</label>
                                    </div>

                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                                    </div>

                                    <p class="mb-5 pb-lg-2" style="color: #393f81;">
                                        Don't have an account?
                                        <a href="/register" style="color: #393f81;">Register here</a></p>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>