<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head}"></head>
<nav th:replace="~{fragments :: navigation}"></nav>
<body>
<div class="backgroundImage">
<form>
    <div style="text-align: center;">
        <div style="margin: 0 auto;">
    <h1>Login to start battle!</h1>
    <!--<img src="../images/pixabay.webp" alt="image" class="small-image">-->
    <div>
        <div>
            <div>
                <label>Username</label>
                <input type="text" name="firstName">
            </div>
            <div>
                <label>Password</label>
                <input type="password" name="password">
            </div>
            <div>
                <button><a href="/profile" type="button">Login</a></button>
                <button><a href="/register">Register</a></button>
            </div>
        </div>
    </div>
        </div>
    </div>
    <!-- <img src="../images/pokemon.jpg" width="100px" class="card-img-top center" alt="...">-->
</form>
</div>
</body>
</html>