<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Ladder</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <link rel="stylesheet" th:href="@{/css/vytisButton.css}">

  <link rel="icon" href="">
</head>
<nav th:replace="~{fragments :: navigation}"></nav>
<body class="backgroundImage">

<table class="table table-dark">
  <thead>
  <tr>
    <th scope="col">Rank</th>
    <th scope="col">Username</th>
    <th scope="col">ELO</th>
    <th scope="col">W/L</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="player, iter : ${ladder}">
    <th scope="row" th:text="${iter.index + 1}"></th>
    <td th:text="${player.username}"></td>
    <td th:text="${player.elo}"></td>
    <td th:text="${player.wins + '/' + player.losses}"></td>
  </tr>

  </tbody>
</table>


</body>
</html>
