<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{fragments :: head}"></head>
<head><link rel="stylesheet" th:href="@{/css/profile.css}">
</head>
<meta charset="UTF-8">
<title th:replace="~{fragments :: title}"></title>
<nav th:replace="~{fragments :: navigation}"></nav>

<body>

<div class="container profile-board">

    <!--    PROFILE-->
    <div class="row profile-card">
        <div class="lg-4">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <img src="/images/profil2.png" alt="avatar"
                         class="img-fluid" style="width: 150px;">
                    <h5 th:text="${session.player.username}" class="my-3"></h5>
                    <p th:text="'ELO: ' + ${session.player.elo}" class="text-muted mb-1"></p>
                    <p th:text="'WINS: ' + ${session.player.wins}" class="text-muted mb-1"></p>
                    <p th:text="'LOSSES: ' + ${session.player.losses}" class="text-muted mb-1"></p>
                    <p th:text="'COINS: ' + ${session.player.coins}" class="text-muted mb-1"></p>
                </div>
            </div>
        </div>
    </div>

    <!--DEFAULT STARTERS-->

    <div th:if="${session.player.battleStarters == null or session.player.battleStarters.isEmpty()}"
         class="row">
        <div class="col-md-5">
            <div class="card poke-card" style="width: 13rem;">
                <!--IMAGE-->
                <img src="/images/pikachu-shadow.png"
                     class="card-img-top"/>
                <div class="card-body">
                    <!--NAME-->
                    <h5 class="card-title">Your starter Pokemons will be displayed here</h5>
                    <!--TYPES-->

                    <!--HP-->
                    <h6 class="starter-stats">Along with their stats</h6>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="card poke-card" style="width: 13rem;">
                <!--IMAGE-->
                <img src="/images/pikachu-shadow.png"
                     class="card-img-top"/>
                <div class="card-body">
                    <!--NAME-->
                    <h5 class="card-title">Your starter Pokemons will be displayed here</h5>
                    <!--TYPES-->

                    <!--HP-->
                    <h6 class="starter-stats">Along with their stats</h6>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="card poke-card" style="width: 13rem;">
                <!--IMAGE-->
                <img src="/images/pikachu-shadow.png"
                     class="card-img-top"/>
                <div class="card-body">
                    <!--NAME-->
                    <h5 class="card-title">Your starter Pokemons will be displayed here</h5>
                    <!--TYPES-->

                    <!--HP-->
                    <h6 class="starter-stats">Along with their stats</h6>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>

    </div>

    <!--DEFAULT POKEMONS-->

    <div th:if="${session.player.allPokemon == null or session.player.allPokemon.isEmpty()}"
         class="poke-table">
        <form action="/addStartersToProfile" method="POST">

            <table class="table">

                <tbody>
                <tr>

                    <!--IMAGE-->
<!--                    <td>-->
<!--                        <img th:src="${pokemon.image}" th:alt="${pokemon.name}"/>-->
<!--                    </td>-->
                    <td>
                        <p class="fw-normal mb-1 poke-name">All your Pokemons will be displayed here</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>

    <!--STARTERS-->

    <div th:unless="${session.player.battleStarters == null or session.player.battleStarters.isEmpty()}"
         class="row starter-container">
        <div th:each="pokemon : ${session.player.battleStarters}" class="col-md-5">

            <div class="card poke-card" style="width: 13rem;">
                <!--IMAGE-->
                <img th:src="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/' + ${pokemon.pokemonNumber} + '.png'"
                     class="card-img-top"/>
                <div class="card-body">
                    <!--NAME-->
                    <h5 th:text="${pokemon.name}" class="card-title"></h5>
                    <!--TYPES-->
                    <span th:each="type : ${pokemon.types}">
                <span th:text="${type}" class="badge d-inline"
                      th:classappend = "${((type == 'grass') ? 'badge-grass' : '') +
                      ((type == 'fire') ? 'badge-fire' : '') +
                      ((type == 'water') ? 'badge-water' : '') +
                      ((type == 'psychic') ? 'badge-psychic' : '') +
                      ((type == 'dragon') ? 'badge-dragon' : '') +
                      ((type == 'electric') ? 'badge-electric' : '') +
                      ((type == 'ice') ? 'badge-ice' : '') +
                      ((type == 'ghost') ? 'badge-ghost' : '') +
                      ((type == 'normal') ? 'badge-normal' : '') +
                      ((type == 'rock') ? 'badge-rock' : '') +
                      ((type == 'ground') ? 'badge-ground' : '') +
                      ((type == 'fighting') ? 'badge-fighting' : '') +
                      ((type == 'bug') ? 'badge-bug' : '') +
                      ((type == 'poison') ? 'badge-poison' : '') +
                      ((type == 'flying') ? 'badge-flying' : '') +
                      ((type == 'steel') ? 'badge-steel' : '') +
                      ((type == 'shadow') ? 'badge-shadow' : '') +
                      ((type == 'fairy') ? 'badge-fairy' : '') +
                      ((type == 'dark') ? 'badge-dark' : '')
                      }">
                </span>
                        </span>
                    <h6 th:text="'Level: ' + ${pokemon.level} + ' Exp: ' +  ${pokemon.exp} + '/100'"
                        class="starter-stats">Card subtitle</h6>
                    <!--HP-->
                    <h6 th:text="'HP: ' + ${pokemon.currentHp + '/' + pokemon.maxHp}"
                        class="starter-stats">Card subtitle</h6>
                    <h6 th:text="'ATT: ' + ${pokemon.attack}"
                        class="starter-stats">Card subtitle</h6>
                    <h6 th:text="'DEF: ' + ${pokemon.defense}"
                        class="starter-stats">Card subtitle</h6>
                    <h6 th:text="'SPD: ' + ${pokemon.speed}"
                        class="starter-stats">Card subtitle</h6>
                    <img class="shield-pic" th:if="${pokemon.isTank}" src="/images/shield2.png" alt="">
                    <img class="sword-pic" th:unless="${pokemon.isTank}" src="/images/swords.png" alt="">
                    <p class="card-text"></p>

                </div>
            </div>
        </div>
    </div>



    <!--ALL POKEMONS-->

    <div th:unless="${session.player.allPokemon == null or session.player.allPokemon.isEmpty()}"
         class="poke-table col-md-2">
        <form action="/addStartersToProfile" method="POST">
            <div class="d-flex justify-content-center">
                <input type="submit" id="submit" value="SELECT YOUR BATTLE TEAM" disabled class="starter-button noselect">
            </div>

            <table class="table">

                <tbody>
                <tr th:each="pokemon : ${session.player.allPokemon}">

                    <!--IMAGE-->
                    <td>
                        <img th:src="${pokemon.image}" th:alt="${pokemon.name}"/>
                    </td>
                    <!--NAME-->
                    <td>
                        <p th:text="${pokemon.name}" class="fw-normal mb-1 poke-name"></p>
                    </td>

                    <!--TYPE-->
                    <td>
                        <div th:each="type : ${pokemon.types}">
                <span th:text="${type}" class="badge badge-sm d-inline"
                      th:classappend = "${((type == 'grass') ? 'badge-grass' : '') +
                      ((type == 'fire') ? 'badge-fire' : '') +
                      ((type == 'water') ? 'badge-water' : '') +
                      ((type == 'psychic') ? 'badge-psychic' : '') +
                      ((type == 'dragon') ? 'badge-dragon' : '') +
                      ((type == 'electric') ? 'badge-electric' : '') +
                      ((type == 'ice') ? 'badge-ice' : '') +
                      ((type == 'ghost') ? 'badge-ghost' : '') +
                      ((type == 'normal') ? 'badge-normal' : '') +
                      ((type == 'rock') ? 'badge-rock' : '') +
                      ((type == 'ground') ? 'badge-ground' : '') +
                      ((type == 'fighting') ? 'badge-fighting' : '') +
                      ((type == 'bug') ? 'badge-bug' : '') +
                      ((type == 'poison') ? 'badge-poison' : '') +
                      ((type == 'flying') ? 'badge-flying' : '') +
                      ((type == 'steel') ? 'badge-steel' : '') +
                      ((type == 'shadow') ? 'badge-shadow' : '') +
                      ((type == 'fairy') ? 'badge-fairy' : '') +
                      ((type == 'dark') ? 'badge-dark' : '')
                      }">
                </span>
                            <br>
                        </div>

                        <!--                            &lt;!&ndash;HP&ndash;&gt;-->
                        <!--                        <td>-->
                        <!--                            <p th:text="${pokemon.currentHp + '/' + pokemon.maxHp}" class="fw-normal mb-1 poke-name"></p>-->
                        <!--                        </td>-->

                        <!--STATS-->
                        <!--                        <td>-->
                        <!--                            <button type="button"-->
                        <!--                                    class="btn btn-secondary"-->
                        <!--                                    data-container="body"-->
                        <!--                                    data-toggle="popover"-->
                        <!--                                    data-placement="top"-->
                        <!--                                    th:data-content=-->
                        <!--                                            "'Attack ' + ${pokemon.attack} +-->
                        <!--                                    ', Defense ' + ${pokemon.defense} +-->
                        <!--                                    ', Speed: ' + ${pokemon.speed}">-->
                        <!--                                Show stats-->
                        <!--                            </button>-->
                        <!--                        </td>-->

                    <td><input type="checkbox" th:name="pokemonIds" th:value="${pokemon.id}" onchange="checkCheckboxes()"></td>

                    <!-- Sell pokemon columns -->
                    <td th:text="'Value: ' + ${pokemon.price}"></td>
                    <td>
                        <a th:name="${pokemon.id}" class="sale-button" th:href="'/sellPokemon/' + ${pokemon.id}">Sell</a>
                    </td>
                    <div th:each="pokemon : ${session.player.battleStarters}">
                        <div th:text="${pokemon.id}" th:class="starterPokemon" th:style="'display:none;'"></div>
                    </div>

                </tr>
                </tbody>
            </table>

        </form>

    </div>

</div>

<!--TANK SELECTOR-->
<div>
    <select id="tankSelect" >
        <option>Change Tank</option>
        <option th:each="pokemon : ${session.player.battleStarters}"  name="tankName" th:value="${pokemon.name}" th:text="${pokemon.name}"></option>
    </select>


</div>

<h1 th:if="${session.player.battleStarters == null or session.player.battleStarters.isEmpty()}">
    <a href="/packOpening">GET STARTED AND OPEN YOUR FREE PACK AND 400 COINS!</a></h1>

<h1 th:unless="${session.player.battleStarters == null or session.player.battleStarters.isEmpty()}">
    <a type="submit" class="button-battle" href="/battle">BATTLE</a>
    <a class="button-bottom" href="/packOpening">PACK OPENING</a></h1>

<script th:src="@{/js/profile.js}"></script>
</body>
</html>