<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments :: head}"></head>
<nav th:replace="~{fragments :: navigation}"></nav>
<body class="backgroundImage">
<div class="backgroundContainerProfile">
    <div style="text-align: center;">
        <div style="margin: 0 auto;">
            <div width="150px">
                <img src="../images/profilbild.png" width="300px" alt="...">
                <ul>
                    <h1>Welcome  <span sec:authentication="name"></span></h1>
                </ul>
            </div>
        </div>
    </div>
    </main>
</div>
</body>
</html>