<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments :: head}"></div>
<div th:insert="~{fragments :: navigation}"></div>
<body>
<!--<img src="../images/pokemon.jpg" width="100px" class="card-img-top center" alt="...">-->

<div class="backgroundImage">
<form>
    <h1> Register new user</h1>
    <img src="../images/pixabay.webp" alt="image" class="small-image">
    <div>
        <div>
            <div>
                <form action="register.php" method="post"></form>
                <label>Username</label>
                <input type="text" id="username" name="firstName">
            </div>
            <div>
                <label>Password</label>
                <input type="password" id="password" name="password">
            </div>
            <div>
                <button><input type="submit" value="Register"></button>
                <button><a href="/">Go to login</a></button>
            </div>
        </div>
    </div>

</form>
</div>
</body>
</html>

</body>
</html>