<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<img src="../images/pokemon.jpg" width="100px" class="card-img-top" alt="...">

<form action ="register" method="post">
<h1>Register new user</h1>
<div>
    <label>First name</label>
    <input type="text" name ="firstName">
</div>
<div>
    <label>Last name</label>
    <input type="text" name ="firstName">
</div>
<div>
    <label>City</label>
    <input type="text" name ="firstName">
</div>
<div>
    <label>Username</label>
    <input type="text" name ="firstName">
</div>
<div>
    <label>Password</label>
    <input type="text" name ="firstName">
</div>
<button type="submit" class="">Sign up</button>
</form>
</body>
</html>