<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title th:replace="fragments :: title"></title>
<head th:replace="fragments :: head"></head>
<nav th:replace="fragments :: navigation"></nav>
<head><link rel="stylesheet" th:href="@{/css/shop.css}"></head>

<body>
<div class="container-fluid d-flex h-100 justify-content-center">
    <div class="row justify-content-center align-self-center shop-container">
        <div class="col-2.5 m-1">
            <div class="card">
                <img class="card-img-top" src="/images/common.png">
                <div class="card-body">
                    <h5 class="card-title">Common Pack</h5>
                    <form method="POST" th:action="@{/processPurchase}">
                        <div class="form-group">
                            <label for="common-pack">Pokemon Amount</label>
                            <select class="form-control" id="common-pack" name="amount">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                            <input type="hidden" name="packType" value="common"/>
                        </div>
                        <div>
                            <label for="common-price">Price:</label>
                            <span id="common-price">100</span>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-2.5 m-1">
            <div class="card">
                <img class="card-img-top" src="/images/uncommon.png">
                <div class="card-body">
                    <h5 class="card-title">Uncommon Pack</h5>
                    <form method="POST" th:action="@{/processPurchase}">
                        <div class="form-group">
                            <label for="uncommon-pack">Pokemon Amount</label>
                            <select class="form-control" id="uncommon-pack" name="amount">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                            <input type="hidden" name="packType" value="uncommon"/>
                            <div>
                                <label for="uncommon-price">Price:</label>
                                <span id="uncommon-price">200</span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-2.5 m-1">
            <div class="card">
                <img class="card-img-top" src="/images/rare.png">
                <div class="card-body">
                    <h5 class="card-title">Rare Pack</h5>
                    <form method="POST" th:action="@{/processPurchase}">
                        <div class="form-group">
                            <label for="rare-pack">Pokemon Amount</label>
                            <select class="form-control" id="rare-pack" name="amount">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                            <input type="hidden" name="packType" value="rare"/>
                        </div>
                        <div>
                            <label for="rare-price">Price:</label>
                            <span id="rare-price">400</span>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-2.5 m-1">
            <div class="card">
                <img class="card-img-top" src="/images/epic.png">
                <div class="card-body">
                    <h5 class="card-title">Epic Pack</h5>
                    <form method="POST" th:action="@{/processPurchase}">
                        <div class="form-group">
                            <label for="epic-pack">Pokemon Amount</label>
                            <select class="form-control" id="epic-pack" name="amount">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                            <input type="hidden" name="packType" value="epic"/>
                            <div>
                                <label for="epic-price">Price:</label>
                                <span id="epic-price">600</span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center align-items-center margin-top">
    <div class="col-2 m-2">
        <button class="btn btn-primary m-1">Items</button>
        <button class="btn btn-primary m-1">Pokemon</button>
        <a class="btn btn-primary m-1" href="/packOpening">Pack opening</a>
    </div>
    <div th:text="'Coins: ' +${session.player.coins}"></div>
</div>


<script th:src="@{/js/shop.js}"></script><

</body>

</html>